@import '../../themes/generated/variables.base.scss';

.lgx-grid {
  &-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .dx-widget {
      flex: 1;
      min-height: 0;
    }

    .dx-datagrid-header-panel .dx-toolbar {
      padding: 5px;
      margin: 0;
    }
  }

  &-title {
    font-weight: 400;
    font-size: 1.2em;
    padding: 7px 20px;
    background-color: darken($base-accent, 5);
    color: $base-bg;
  }
}

.dx-item-content .lgx-grid-wrapper {
  height: 100%;
}
