@import './themes/generated/variables.base.scss';

.app {
  background-color: darken($base-bg, 5);
  display: flex;
  height: 100%;
  width: 100%;
}

.app .content {
  line-height: 1.5;
  height: 100%;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.content-block {
  margin: 0 10px;
}

.layout-vertical {
  display: flex;
  flex-direction: column;
}

.layout-horizontal {
  display: flex;
  flex-direction: row;
}

.layout-stretch {
  height: 100%;
  width: 100%;
}

.page-title {
  font-size: 1.3em;
  padding: 10px 15px;
}

.panel-title {
  font-size: 1.15em;
  background-color: $base-bg;
  border-bottom: 1px solid $base-border-color;
  padding: 8px 16px;
}

.flex-1 {
  flex: 1 1 auto;
  min-height: 0;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}

.dx-widget.dx-toolbar {
  margin: 0px;
  padding: 5px 10px;
}

.screen-x-small .content-block {
  margin: 0px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.dx-drawer {
  flex: 1 1 auto;
  height: 0;
  min-height: 0;
}

$side-panel-min-width: 60px;

html,
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
